@layer base {
  html {
    height: 100vh;
    box-sizing: border-box;
    overflow: hidden;
    overscroll-behavior-y: none;
  }

  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }

  body {
    height: 100%;
    /* stylelint-disable-next-line */
    overflow: hidden;
    overscroll-behavior-y: none;
  }

  #root {
    width: 100%;
    height: 100%;
    overflow: auto;
  }

  input:focus {
    outline: 0;
  }
}
